@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*
{
    margin: 0; /* Remove as margens padrão que os navegadores colocam automaticamente*/
    box-sizing: border-box; /* Evitar que elementos cresçam a mais*/
}

body
{
    font-family: 'Inter', sans-serif; /* Fonte padrão do site*/
    background: #f6f7f6; /* Cor de fundo global*/
    padding: 30px 40px; /* paçamento interno -> 10px cima e baixo | 90px laterais*/
}

header
{
    display: flex; /* Alinhar elementos horizontalmente*/
    align-items: center; /* Centraliza elementos */
    justify-content: space-between; /* Espaço entre elementos'*/
    padding: 10px 0; /* Espaçamento interno -> 10px cima e baixo | 0 laterais*/
}

a
{
    text-decoration: none; /* Tira sublinhado dos links*/
    color: inherit; /* Tira azul automatico do link*/
}

.topo
{
    display: flex; /* Alinhar elementos horizontalmente*/   
    align-items: center; /* Centraliza elementos */
    justify-content: center; /* Centraliza elementos */
    margin-bottom: 12px; /* Espaço embaixo do elemento*/
}

.titulo-dash
{
    color: #1d2221; /* Cor do texto*/
}

.voltar
{
    flex: 1; /* Texto ocupa espaço proporcional com outro elemento*/
}


.kpis
{
    padding: 10px 0; /* Espaçamento interno -> 10px cima e baixo | 0 laterais*/
    display: flex; /* Alinhar elementos horizontalmente*/   
    justify-content: space-between; /* Espaço entre elementos'*/
    gap: 14px; /* Espaço entre os elementos*/
}


.kpi-item
{
    border-radius: 20px; /* Arredonda os cantos*/
    padding: 20px 16px; /* Espaçamento interno -> 20px cima e baixo | 16px laterais*/
    background-color: #fafafa; /* Cor de fundo KPI*/
    border: 1px solid #777c7b; /* Borda da KPI*/
    flex: 1; /* KPI ocupa espaço proporcional com outro elemento*/
}

.kpi-conteudo
{
    display: flex; /* Alinhar elementos horizontalmente*/   
    align-items: center; /* Centraliza elementos */
    gap: 12px; /* Espaço entre os elementos*/
    margin-bottom: 8px; /* Espaço embaixo do elemento*/
}

.kpi-conteudo img
{
    width: 42px; /* Largura*/
    height: 42px; /* Altura*/
}

.pref-titulo
{
    font-size: 15px; /* Tamanho da escrita*/
    font-weight: bold; /* Negrito */
    margin-bottom: 10px; /* Espaço embaixo do elemento*/
    color: #4b5251; /* Cor do texto*/
}

.pref-valor
{
    font-size: 25px; /* Tamanho da escrita*/
    font-weight: bold; /* Negrito */
    margin-bottom: 6px; /* Espaço embaixo do elemento*/
    color: #1d2221; /* Cor do texto*/
}

.alert
{
    font-size: 11px; /* Tamanho da escrita*/
    padding: 4px; /* Espaçamento interno -> 4px pros 4 lados*/
    border-radius: 20px; /* Arredonda os cantos*/
    display: inline; /* Faz com que a div fique do mesmo tamanho que o texto dentro dela*/
    background-color: #177917; /* Cor de fundo alert*/
    color: white; /* Cor do texto*/
}

.grafico-1 /* Div atrás do gráfico*/
{
    background-color: white; /* Cor de fundo grafico*/
    border-radius: 20px; /* Arredonda os cantos*/
    padding: 25px; /* Espaçamento interno -> 25px pros 4 lados*/
    border: 1px solid #777c7b; /* Borda do gráfico*/
    margin-bottom: 10px; /* Espaço embaixo do elemento*/
}

.infos-grafico
{
    color: #1d2221; /* Cor do texto*/
}

.g1
{
    width: 100%; /* grafico ocupa toda a largura da div*/
    padding: 20px; /* Espaçamento interno -> 20px pros 4 lados*/
    height: 330px; /* Altura*/
}

.graficos
{
    display: flex;
    gap: 24px;
    width: 100%;
}

.graficos .grafico-1
{
    flex: 1;
}