/* Container principal: centraliza tudo em coluna */
.form
{
    display: flex;
    min-height: 85vh;
    flex-direction: column;
    align-items: center;
    padding: 90px 8%;
    background: #f6f7f6;
    gap: 35px;
    color: #1d2221;
}

/* Título da página */
.form h1
{
    font-size: 64px;
    font-weight: bold;
}

/* Subtítulo centralizado */
.form p
{
    text-align: center;
    margin: 0;
}

/* Agrupa label e input em coluna, limitando largura */
.campo {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; /* controla largura */
    gap: 5px;
}

/* nome do campo */
.campo p {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    text-align: left;
}

/* Input de texto */
.campo input {
    width: 100%; /* faz ocupar todo o container */
    padding: 14px 16px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 14px;
    border: 1px solid #1d2221;
    font-family: 'Inter', sans-serif;
}

/* Select: mesma aparência do input */
.campo select
{
    width: 100%; /* faz ocupar todo o container */
    padding: 14px 16px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 14px;
    border: 1px solid #1d2221;
    font-family: 'Inter', sans-serif;
}

/* Botão de submit: mesmas dimensões do input*/
.campo button
{
    width: 100%; /* mesma largura do input */
    padding: 14px 16px; /* igual ao input pra ficar consistente */
    font-size: 14px;
    font-weight: bold;
    border-radius: 14px;
    border: none;
    background-color: #222222;
    color: #f6f7f6;
}

/* Mensagem de erro */
.erro
{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.loading-div
{
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#loading-gif
{
    width: 50px;
    height: 50px;
}   