.form
{
    display: flex;
    min-height: 85vh;
    flex-direction: column;
    align-items: center;
    padding: 90px 8%;
    background: #f6f7f6;
    gap: 35px;
    color: #1d2221;
}

.form h1
{
    font-size: clamp(3rem, 5vw, 4rem);
    font-weight: bold;
}

.form p
{
    text-align: center;
    margin: 0;
    
}

.campo {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; /* controla largura */
    gap: 5px;
}

.campo p {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0;
    text-align: left;
}


.campo input {
    width: 100%; /* faz ocupar todo o container */
    padding: 14px 16px;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 14px;
    border: 1px solid #1d2221;
    font-family: 'Inter', sans-serif;
}

.campo select
{
    width: 100%; /* faz ocupar todo o container */
    padding: 14px 16px;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 14px;
    border: 1px solid #1d2221;
    font-family: 'Inter', sans-serif;
}

.campo button
{
    width: 100%; /* mesma largura do input */
    padding: 14px 16px; /* igual ao input pra ficar consistente */
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 14px;
    border: none;
    background-color: #222222;
    color: #f6f7f6;
    cursor: pointer;
}

.erro
{
    display: flex;
    flex-direction: row;
    text-align: center;
}